source/language.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://softalks.github.io/logo/language.xsd" elementFormDefault="qualified">
  <element name="logo">
    <complexType>
      <attribute name="shape">
        <simpleType>
          <restriction base="string">
            <enumeration value="circle" />
            <enumeration value="square" />
          </restriction>
        </simpleType>
      </attribute>
      <attribute name="size" type="int" default="512" />
    </complexType>
  </element>
</schema>